## Build results
bin/
obj/
out/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## VS Code
.vscode/

## OS files
.DS_Store
Thumbs.db

## Test results
TestResults/

## BenchmarkDotNet
BenchmarkDotNet.Artifacts/

## NuGet packages
*.nupkg
*.snupkg
packages/

## Logs
*.log
